
/* this code changing the scroll bar in the whole app*/
/*-----------------------  */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #BFC5DC;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover {

}
/*-----------------------  */
